OAUTH2_PROXY_OIDC_ISSUER_URL=https://auth.example.com/realms/homelab
OAUTH2_PROXY_CLIENT_ID=REPLACE
OAUTH2_PROXY_CLIENT_SECRET=REPLACE
# openssl rand -base64 32 | tr -- '+/' '-_'
OAUTH2_PROXY_COOKIE_SECRET=REPLACE
