# MongoDB
KOMODO_DB_USERNAME=komodo
KOMODO_DB_PASSWORD=REPLACE

# Komodo Core
# openssl rand -hex 32
KOMODO_JWT_SECRET=REPLACE
KOMODO_WEBHOOK_SECRET=REPLACE

# Initialer Admin (nach erstem Login aus .env entfernen)
KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD=REPLACE
